$background: black;
$edge-url: "../assets/edge.jpg";
$edge-rotated-url: "../assets/edge-rotated.png";
$smoke-url: "../assets/smoke.png";

body {
  margin: 0;
}

.App {
  background-color: $background;
  height: 100vh;
  height: 100dvh;
}

.home {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url($smoke-url);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.home-banner img {
  width: 100vw;
  width: 100dvw;
}

.home-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.home-card {
  width: 50vw;
  height: 50vw;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 1rem;

  &:hover {
    border-color: red;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.svgContainer {
  height: 85vh;
  width: 100vw;
  height: 85dvh;
  width: 100dvw;
  background-image: url($edge-url);
  background-size: 100% 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.eraser {
  position: absolute;
  top: min(5vh, 20px);
  right: min(5vh, 20px);

  img {
    background-color: none;
    border: none;
  }
}

.color-swatch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.color-swatch {
  height: min(calc(100vw / 8), 60px);
  width: min(calc(100vw / 8), 60px);
  height: min(calc(100dvw / 8), 60px);
  width: min(calc(100dvw / 8), 60px);
  margin: 2vw;
  border: 5px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .color-swatch {
    height: min(calc(100vw / 12), 80px);
    width: min(calc(100vw / 12), 80px);
    height: min(calc(100dvw / 12), 80px);
    width: min(calc(100dvw / 12), 80px);
  }
}

@media screen and (min-width: 1024px) {
  .color-swatch {
    height: min(calc(100vw / 16), 120px);
    width: min(calc(100vw / 16), 120px);
    height: min(calc(100dvw / 16), 120px);
    width: min(calc(100dvw / 16), 120px);
  }
}

@media (orientation: landscape) {
  .svgContainer {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 85vw;
    width: 100dvh;
    height: 85dvw;
    position: fixed;
    overflow: hidden;
    top: 100%;
    left: 0;
  }

  .eraser {
    transform: rotate(90deg);
  }

  .home-container {
    padding-top: 0;
  }

  .home-card {
    width: 50vh;
    height: 50vh;
  }

  .home-banner img {
    width: 100vh;
    width: 100dvh;
  }

  .color-swatch-container {
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    right: 0;
  }
  .color-swatch {
    height: min(calc(100vh / 8), 60px);
    width: min(calc(100vh / 8), 60px);
    margin: 2vh;
    height: min(calc(100dvh / 8), 60px);
    width: min(calc(100dvh / 8), 60px);
  }
}
