$background: black;
$edge-url: "../assets/edge.jpg";
$edge-rotated-url: "../assets/edge-rotated.png";

body {
  margin: 0;
}

.App {
  background-color: $background;
  width: 100vw;
  height: 100vh;
}

.backgroundContainer {
  height: 100%;
  width: 100%;
}

.svgContainer {
  height: 85vh;
  width: 100vw;
  background-image: url($edge-url);
  background-size: 100% 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.eraser {
  position: absolute;
  top: min(5vh, 20px);
  right: min(5vh, 20px);

  img {
    background-color: none;
    border: none;
  }
}

.color-swatch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.color-swatch {
  height: min(calc(100vw / 8), 60px);
  width: min(calc(100vw / 8), 60px);
  margin: 2vw;
  border: 5px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .color-swatch {
    height: min(calc(100vw / 12), 80px);
    width: min(calc(100vw / 12), 80px);
  }
}

@media screen and (min-width: 1024px) {
  .color-swatch {
    height: min(calc(100vw / 16), 120px);
    width: min(calc(100vw / 16), 120px);
  }
}

@media (orientation: landscape) {
  .svgContainer {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 85vw;
    position: fixed;
    overflow: hidden;
    top: 100%;
    left: 0;
  }

  .eraser {
    transform: rotate(90deg);
  }

  .color-swatch-container {
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    right: 0;
  }
  .color-swatch {
    height: min(calc(100vh / 8), 60px);
    width: min(calc(100vh / 8), 60px);
    margin: 2vh;
  }
}
