.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.backgroundContainer {
  height: 100%;
  width: 100%;
}

.svgContainer {
  height: 85%;
  width: 100%;
  background-image: url("./assets/edge.jpg");
  background-size: 100% 100%;
}

.svgContainer svg {
  height: 100%;
  width: 100%;
}

.color-swatch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;

  position: fixed;
  bottom: 0;
}
.color-swatch {
  height: min(calc(100vw / 8), 60px);
  width: min(calc(100vw / 8), 60px);
  margin: 2vw;
  border: 5px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .color-swatch {
    height: min(calc(100vw / 12), 80px);
    width: min(calc(100vw / 12), 80px);
  }
}

@media screen and (min-width: 1024px) {
  .color-swatch {
    height: min(calc(100vw / 16), 120px);
    width: min(calc(100vw / 16), 120px);
  }
}

@media (orientation: landscape) {
  .svgContainer {
    height: 100%;
  }

  .color-swatch-container {
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    right: 0;
  }
  .color-swatch {
    height: min(calc(100vh / 8), 60px);
    width: min(calc(100vh / 8), 60px);
    margin: 2vh;
  }
}
