#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
}

.svgContainer {
  border-bottom: 5px solid black;
  background-color: lightgray;
}

.color-swatch-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.color-swatch {
  margin: 25px;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 15px;
}
